{
  "presets": [
    ["es2015",{ "loose": true }],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "development": {
      "plugins": [

      ]
    },
    "build": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}